.feed-detail-page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow-y: auto; /* 페이지가 스크롤 가능하게 */
  height: 100vh; /* 화면 전체 높이에 맞추기 */
}

.feed-detail-container {
  max-height: 800px;
  max-width: 700px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  margin-bottom: 20px; /* 페이지 하단에 여백 추가 */
  margin-left: 50px;
  display: flex;
  flex-direction: column; /* 전체를 세로로 정렬 */
}

.feed-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 12px;
  margin-top: 8px;
}

.user-nickname {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
}

.feed-main-content {
  display: flex;
  flex-direction: row; /* 이미지와 오른쪽 영역 나란히 배치 */
}

.feed-image-section {
  position: relative;
  flex: 2;
  width: 100%;
  height: 400px; /* 이미지 크기 고정 */
  overflow: hidden;
}

.feed-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하며 고정 크기에 맞추기 */
}

.product-info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.product-info-icon:hover {
  background-color: rgba(255, 255, 255, 1);
}

.product-info-sidebar {
  flex: 1;
  margin-left: 20px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info-sidebar h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.product-info-sidebar .product-item {
  margin-bottom: 10px;
  font-size: 14px;
}

.product-info-sidebar .product-item a {
  color: #0073e6;
  text-decoration: none;
}

.product-info-sidebar .product-item a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.feed-description-section {
  padding: 15px;
  font-size: 14px;
  line-height: 1.6;
}

.feed-actions {
  display: flex;
  justify-content: flex-start; /* 아이콘을 왼쪽에 배치 */
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.feed-actions div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 10px;
}

.feed-actions span {
  margin-left: 5px;
  font-size: 14px;
}

.like-icon {
  color: gray;
}