
.feed-detail-page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow-y: auto; /* 페이지가 스크롤 가능하게 */
  height: 100vh; /* 화면 전체 높이에 맞추기 */
}

.feed-detail-container {
  max-height: 800px;
  max-width: 700px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  margin-bottom: 20px; /* 페이지 하단에 여백 추가 */
  margin-left : 50px;
}

.feed-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 12px;
  margin-top: 8px;
}

.user-nickname {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
}

.feed-image-section {
  width: 100%;
  height: 400px; /* 이미지 크기 고정 */
  overflow: hidden;
}

.feed-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하며 고정 크기에 맞추기 */
}

.feed-description-section {
  padding: 15px;
  font-size: 14px;
  line-height: 1.6;
}

.product-info-section {
  padding: 10px 15px;
  border-top: 1px solid #eee;
}

.product-info-section h3 {
  margin: 0 0 10px;
  font-size: 16px;
}

.product-item {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-item a {
  color: #0073e6;
  text-decoration: none;
}

.product-item a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.feed-date {
  text-align: right;
  padding: 10px;
  font-size: 12px;
  color: #777;
}

.feed-actions {
  display: flex;
  justify-content: flex-start; /* 아이콘을 왼쪽에 배치 */
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.feed-actions div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 10px;

}

.feed-actions span {
  margin-left: 5px;
  font-size: 14px;
}

.like-icon {
  color: gray;
}


