

body {
  font-family: Arial, sans-serif;
}

/* 프로필 페이지 스타일 */
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.profile-content {
  width: 100%;
  max-width: 1200px; /* 최대 너비 설정 */
  margin: 0 auto;    /* 가운데 정렬 */
  padding: 20px;
}

/* 프로필 헤더 스타일 */
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -50px;
}

.profile-header-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 2px solid #ddd;
}

.profile-header-nickname {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.settings-btn {
  background-color: #7655E3;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 30px;
  max-width: 200px;
  width: auto;
  min-width: 100px;
}

.settings-btn:hover {
  background-color: #7655E3;
}

.logout-btn {
  padding: 8px 16px;
  width: auto;
  max-width: 150px;
  font-size: 14px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.logout-btn:hover {
  background-color: #d32f2f;
}


/* .feeds 컨테이너 */
.feeds {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;  /* 사진들 간의 간격 */
  justify-content: flex-start;  /* 가운데 정렬 */
  padding: 20px;  /* 여백 */
  width: 100%;  /* 부모 요소의 너비 100% */
  margin-left: -35px;
}

.feed-item {
  flex-basis: calc(33.333% - 16px);  /* 한 줄에 3개 */
  height: 300px;
  margin-bottom: 16px;  /* 사진 아래 여백 */
  overflow: hidden;
  cursor: pointer;
}

.feed-item img {
  width: 100%; /* 이미지가 부모 요소의 너비를 채움 */
  height: auto; /* 이미지 비율을 유지 */
  object-fit: cover; /* 이미지가 비율을 유지하며 꽉 차게 */
  border-radius: 0;
}



/* 에러 및 로딩 메시지 스타일 */
.error-message,
.loading-message {
  text-align: center;
  font-size: 16px;
  color: #666;
}